
.pop__center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pop_layout {
    text-align: center;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 10px 0px #afafaf);
    width: 407px;
    height: 539px;
    border: 1px solid #afafaf;
    padding: 2.8rem 2.9rem;
}

.pop_layout .pop_layout__head {}
.pop_layout .pop_layout__head .pop_layout__head_tittle,
.pop_layout .pop_layout__body .pop_layout__body__tittle {
    font-size: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #256016;
    font-weight: bold;
    font-family: var(--yaHei-bold);
    text-align: center;

    margin-bottom: 1.7rem;
}

.pop_layout .pop_layout__social {
    margin-bottom: 3.8rem;

}
.pop_layout .pop_layout__social .pop_layout__social_link {
    display: flex;
    justify-content: center; 
    align-items: center;
}
.pop_layout .pop_layout__social .pop_layout__social_link .pop_layout__social_link_icon {
    width: 5.3rem;
    display: block;
    margin-right: 1.7rem;
}
.pop_layout .pop_layout__social .pop_layout__social_link .pop_layout__social_link_icon:last-child {
    margin-right: 0rem;
}


.pop_layout .pop_layout__body {}
.pop_layout .pop_layout__body .pop_layout__body__tittle {
    margin-bottom: 1.2rem;
}
.pop_layout .pop_layout__body .pop_layout__body__content {
    width: 100%;
    border-radius: 15px;
    background-color: #efefef;
    margin: 0 auto;
    padding: 2.1rem 2.7rem;
    padding-bottom: 3.2rem;
    text-align: start;

    margin-bottom: 3.4rem   ;
}
.pop_layout .pop_layout__body .pop_layout__body__content .pop_layout__body__content_text {
    font-size: 25px;
    line-height: 29px;
    color: #454545;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.pop_layout .pop_layout__footer {}
.pop_layout .pop_layout__footer .pop_layout__footer_btn {
    width: 167px;
    height: 57px;
    border-radius: 15px;
    box-shadow: 0px 10px 0px 0px rgb(42, 116, 46);
    background-color: #3ab54a;
    display: inline-block;
    font-size: 29px;
    letter-spacing: 3px;
    line-height: 56px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: "Microsoft Ya Hei";
    text-align: center;
    transition: 0.2s all;
}

.pop_layout .pop_layout__footer .pop_layout__footer_btn:hover {
    box-shadow: 0px 4px 0px 0px rgb(42, 116, 46);
    background-color: #2c903a;
}


































.overlay__black {
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.612);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop__layout_correct {
    width: 40rem;
    position: relative;
}

.pop__layout_correct {}
.pop__layout_correct .pop__layout_correct_back {}
.pop__layout_correct .pop__layout_correct_content {
    position: absolute;
    inset: auto 50% 3% auto;
    transform: translateX(50%);
}
.pop__layout_correct .pop__layout_correct_content_text {
    font-size: 29px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #373535;
    font-family: var(--yaHei);
    text-align: center;
    margin-bottom: 1rem;
}
.pop__layout_correct .pop__layout_correct_content_btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop__layout_correct .pop__layout_correct_content_btn {
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: var(--yaHei-bold);
    display: inline-block;
    width: 16.7rem;
    height: 7.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/correct__answer.png);
    background-size: 100%;
    padding-bottom: 8px;
}

.pop__layout_correct .pop__layout_correct_content_btn.correct {
    background-image: url(../images/correct__answer.png);
}

.pop__layout_correct .pop__layout_correct_content_btn.wrong {
    background-image: url(../images/wornge__answer.png);
}



.pop__layout_wrong__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.1rem;
}
.pop__layout_correct .pop__layout_wrong__btn .photo__data_btn:hover {
    color: #1a430f !important;
}

















.pop_make_question_layout {
    width: 95%;
    margin: auto;

    position: relative;
}

.pop_make_question_layout .pop_make_question_layout_back_template {
    width: 100%;
    margin: auto;
}


.pop_make_question_layout .pop_make_question_head_rm {
    font-size: 29px;
    color: #373535;
    font-weight: bold;
    font-family: var(--yaHei-bold);


    position: absolute;
    top: 12rem;
    left: 2.8rem;
}

.pop_make_question_problem_text h6 {
    font-size: 29px;
    letter-spacing: 3px;
    line-height: 50px;
    color: #373535;
    font-weight: bold;
    font-family: var(--yaHei-bold);
    text-align: center;
}
.pop_make_question_problem_text p {
    font-size: 29px;
    letter-spacing: 3px;
    line-height: 50px;
    color: #373535;
    font-family: var(--yaHei);
    text-align: center;
}
.pop_make_question_problem_text p span {
    font-size: 29px;
    letter-spacing: 3px;
    line-height: 50px;
    color: #373535;
    font-family: var(--montserrat);
    font-weight: bold;
    text-align: center;
}
.pop_make_question_problem_text {
    position: absolute;
    top: 28.5rem;
    width: 100%;
}

.pop_make_question_chose_correct_btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 43.3rem;
}

.pop_make_question_chose_correct_btn .pop_make_question_btn_op {
    border-radius: 26px;
    background-color: rgb(255, 206, 0);
    box-shadow: 0px 8px 0px 0px rgba(238, 155, 10, 0.004);
    width: 208px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: var(--yaHei-bold);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    filter: drop-shadow(0px 10px 0px #ee9b0a);
    transition: 0.2s all;
    text-shadow:  -1px 1px 2px #a9700b;
}


.pop_make_question_chose_correct_btn .pop_make_question_btn_op:hover {
    filter: drop-shadow(0px 6px 0px #ee9b0a);
    background: #ef5524;
}


.pop_make_question_ans_submit {
    width: 315px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 9.5rem;
}







.pop_reminder_question_layout_img {
    position: relative;
}
.pop_reminder_question_layout_img .pop_reminder_question_layout_btn {
    position: absolute;
    bottom: 9.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 32rem;
}
.pop_reminder_question_layout_img .pop_reminder_question_layout_btn svg {
    width: 100%;
}






.overlay__black.hv-100 {
    min-height: 100vh;
}

.pop_make_question_head_rm.register {
    font-size: 36px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-family: var(--yaHei-bold);
    text-align: center;
    filter: drop-shadow(0px 8px 5px rgba(0,0,0,0.87));
    left: 50%;
    width: max-content;
    translate: -50% 0%;
    top: 10rem;
    rotate: z -4deg;

}
.pop_make_input_layout {
    width: 343px;
    position: absolute;
    top: 20rem;
    left: 50%;
    translate: -50% 0;
}
.pop_make_input_layout .form-group {
    margin-bottom: 1.3rem;
}
.pop_make_input_layout input {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #908f8f;
    font-family: var(--yaHei);
    width: 100%;
    height: 52px;
    border-radius: 15px;
    background-color: #efefef !important;

    
}
.pop_make_input_layout input::placeholder {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #908f8f;
    font-family: var(--yaHei);
}
.pop_make_input_layout .form-group{position:relative;}
.pop_make_input_layout .form-group input{position:relative;z-index:9;
    border: none;
    padding-left: 1.5rem;
}
.pop_make_input_layout .form-group label{position:absolute;left:1.5rem;top:50%;z-index:10;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #908f8f;
    font-family: var(--yaHei);
    translate: 0% -50%;
}
.pop_make_input_layout .form-group label::after{content:"*";color:red;}
input[required]:valid + label{display: none;}


.pop_make_input_layout .form_group_btn_otp {
    width: 102px;
    height: 33px;
    background-color: #adadad;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 17px;
    color: #ffffff;
    font-family: var(--yaHei);

    position: absolute;
    top: 50%;
    z-index: 99;
    right: calc(0% + 25px);
    translate: 0% -50%;
}

.form-group.otp {
    margin-bottom: 3.4rem;
}
.form-group.mini_error .small_message {
    margin-bottom: 3.4rem;


    font-size: 12px;
letter-spacing: 1px;
line-height: 29px;
text-transform: uppercase;
color: #c9194a;
font-family: var(--yaHei);
padding-left: 1.5rem;

position: absolute;

}   



.pop_make_green_register .pop_make_question_chose_correct_btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 57.3rem;
}
.pop_make_green_register .pop_make_question_chose_correct_btn .pop_make_question_btn_op_register {
    border-radius: 26px;
    background-color: #3ab54a;
    width: 342px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    letter-spacing: 3px;
    font-family: var(--yaHei-bold);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: 0.2s all;
    filter: drop-shadow(0px 10px 0px #2a742e);
    background-color: #3ab54a;
}